<style media="screen">
.navbar-default {
  background-color: #f05f40;
  border-color: #ddd;
  color: #ffffff;
}

.navbar-default .navbar-header .navbar-brand {
    color: #ffffff;
}
section {
    padding: 100px 0;
}
.section-heading {
    margin-top: 0px;
    margin-bottom: 60px;
}

@font-face {
  font-family: "FontAwesome";
  src: url('<%= asset_path("fontawesome-webfont.eot") %>');
  src: url('<%= asset_path("fontawesome-webfont.eot") + "?#iefix" %>') format('eot'), url('<%= asset_path("fontawesome-webfont.woff") %>') format('woff'), url('<%= asset_path("fontawesome-webfont.ttf") %>') format('truetype'), url('<%= asset_path("fontawesome-webfont.svg") + "#FontAwesome" %>') format('svg');
  font-weight: normal;
  font-style: normal;
}
</style>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Parabens, sua demanda foi enviada!</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-question text-primary sr-icons"></i>
          <h3>E agora?</h3>
          <p class="text-muted">Os profissionais estão preparando uma proposta para você.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-envelope-o text-primary sr-icons"></i>
          <h3>Você será notificado por email</h3>
          <p class="text-muted">Fique atento a sua caixa de entrada. se cair no spam nos avise</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-user-o text-primary sr-icons"></i>
          <h3>Matenha seu perfil atualizado</h3>
          <p class="text-muted">Quanto mais informação melhor. socialize!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-hand-o-up text-primary sr-icons"></i>
          <h3>Acesse sua conta</h3>
          <p class="text-muted">Você poderá ter controle das suas propostas, aceitar ou recusar</p>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <button type="button" class="btn btn-primary" name="button">Acesse sua conta</button>
      </div>
    </div>
  </div>
</section>
